<%- include('partials/header') %>
<% if (logged_user){ %>
    <h4>Bonjour <%= logged_user.name %></h4>
<% } %>
<% if (message) { %>
<quote><%=message%></quote>
<% } %>
<ul class="list-group">
    <% results.map(function(result){%>
    <li class="list-group-item"><a href="/book/<%=result.id%>"><%= result.title %></a></li>
    <%}) %>
</ul>

<% if (logged_user) { %>
<a href="/book/add">
    <button type="button" class="btn btn-success">Ajouter un livre</button>
</a>
<% } %>

<% if (!logged_user) { %>
<a href="/user/create">
    <button type="button" class="btn btn-success">Créer un compte</button>
</a>

<a href="/user/login">
    <button type="button" class="btn btn-success">Se connecter</button>
</a>
<% } %>


    <%- include('partials/footer') %>