<!--Views-->
<head>
        <% include ../partials/head %>
    </head>
    <body class="container">
    
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
            <br>
            <br>
        <div class="defi" >
                <span style="font-size: 2em; color: black;">
                    <h3><i class="fas fa-user-times"></i> Bannir un utilisateur</h3></span>
        </div>
        <br>
        <div class="defi" >
                <span style="font-size: 2em; color: black;">
                        <h3><i class="fas fa-minus"></i> Retirer un défi</h3></span>
        </div>
        <br>
        <div class="defi" >
                <span style="font-size: 2em; color: black;">
                        <h3><i class="fas fa-user"></i>  Consulter la liste des utilisateurs</h3></span>
        </div>
            
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>